<a href="https://colab.research.google.com/github/nathaliadutra15/ApiSiteImagens/blob/master/lista1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

# **Exercícios**

Aula 06 - Exercícios

Prof. Anderson Vanin

# 01 - Criação e Manipulação de Arrays

Crie um array Numpy com 10 números inteiros aleatórios entre 1 e 20 e extraia os elementos pares.

In [2]:
import numpy as np

lista = np.random.randint(1, 21, size=10)

pares = lista[lista % 2 == 0]

print(f"lista aleatórios: {lista}")
print(f"números pares: {pares}")

lista aleatórios: [ 1  3  6  4  5 15 10  7 10  6]
números pares: [ 6  4 10 10  6]

# 02 - Operações Aritméticas com Arrays

Crie dois arrays de 10 números inteiros aleatórios entre 0 e 50 e realize operações de soma, subtração, multiplicação e divisão elemento a elemento.

In [6]:
import numpy as np

arr1 = np.random.randint(1, 51, size=10)
arr2 = np.random.randint(1, 51, size=10)

soma = arr1 + arr2

print(f"Array 1: {arr1}")
print(f"Array 2: {arr2}\n")
print(f"Soma: {soma}")
print(f"Subtração: {arr1 - arr2}")
print(f"Multiplicação: {arr1 * arr2}")

divisao = arr1 / arr2

print(f"Divisão: {np.round(divisao, 2)}")

Array 1: [44 47 41 25 27 12 38  6 29 29]
Array 2: [ 2  7 36  7  6 50 46 48 49 47]

Soma: [46 54 77 32 33 62 84 54 78 76]
Subtração: [ 42  40   5  18  21 -38  -8 -42 -20 -18]
Multiplicação: [  88  329 1476  175  162  600 1748  288 1421 1363]
Divisão: [22.    6.71  1.14  3.57  4.5   0.24  0.83  0.12  0.59  0.62]

# 03 - Indexação e Slicing

Dado um array Numpy com 20 números aleatórios entre 10 e 100, extraia os elementos entre a 5ª e a 15ª posição.

In [8]:
import numpy as np

arr = np.random.randint(10, 101, size=20)

numeros_extraidos = arr[4:15]

print(f"Array: {arr}")
print(f"Números extraídos: {numeros_extraidos}")

Array: [ 20  65  83  42  26  89  97  54  53  98  67  64  95  29  29 100  75  47
  14  92]
Números extraídos: [26 89 97 54 53 98 67 64 95 29 29]

# 04 - Manipulação de Matrizes

Crie uma matriz 3x3 com valores aleatórios entre 0 e 1, e encontre o valor máximo e mínimo.

In [9]:
import numpy as np

matriz = np.random.random((3, 3))
matriz_formatada = np.round(matriz, 2)

maximo = np.max(matriz_formatada)
minimo = np.min(matriz_formatada)

print(f"{matriz_formatada}\n")
print(f"Máximo: {maximo}")
print(f"Mínimo: {minimo}")

[[0.96 0.11 0.19]
 [0.45 0.11 0.65]
 [0.22 0.93 0.51]]

Máximo: 0.96
Mínimo: 0.11

# 05 - Transformações em Arrays

Crie um array de 12 números inteiros aleatórios entre 1 e 100 e reshape-o para uma matriz 4x3.

In [10]:
import numpy as np

arr = np.random.randint(1, 101, size=12)

matriz = arr.reshape((4, 3))

print(f"Array original: {arr}\n")
print("Matriz 4x3:")
print(matriz)

Array original: [49  9 48 37 46 67  8 33 82 67 86 74]

Matriz 4x3:
[[49  9 48]
 [37 46 67]
 [ 8 33 82]
 [67 86 74]]

# 06 - Criação de DataFrames

Crie um DataFrame com dados de 5 pessoas, onde cada pessoa tem nome, idade (entre 20 e 40), e cidade (escolha 3 cidades aleatórias).

In [11]:
import pandas as pd
import numpy as np

nomes = ['Nathália', 'Guilherme', 'Luis Henrique', 'Luiz', 'Elisângela']
idades = np.random.randint(20, 41, size=5)
cidades = np.random.choice(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte'], size=5)

df = pd.DataFrame({
    'Nome': nomes,
    'Idade': idades,
    'Cidade': cidades
})

print(df)

            Nome  Idade          Cidade
0       Nathália     32       São Paulo
1      Guilherme     29  Rio de Janeiro
2  Luis Henrique     37       São Paulo
3           Luiz     20  Rio de Janeiro
4     Elisângela     36       São Paulo

# 07 - Criação de DataFrame com Dados Sintéticos

Crie um DataFrame fictício de vendas contendo colunas como Produto, Quantidade (entre 1 e 20), e Preço (entre 10 e 100).

In [12]:
import pandas as pd
import numpy as np

produtos = ['Carne', 'Azeite', 'Leite', 'Arroz', 'Frango']
quantidades = np.random.randint(1, 21, size=5)
precos = np.random.randint(10, 101, size=5)

df_vendas = pd.DataFrame({
    'Produto': produtos,
    'Quantidade': quantidades,
    'Preço': precos
})

print(df_vendas)

  Produto  Quantidade  Preço
0   Carne           5     98
1  Azeite          12     97
2   Leite           4     90
3   Arroz          10     59
4  Frango           5     22

# 08 - Filtragem de Dados

Filtre o DataFrame criado no exercício anterior para mostrar apenas as vendas onde a quantidade é maior que 10.

In [16]:
df_filtrado = df_vendas[df_vendas['Quantidade'] > 10]

print("Produtos com qntd > 10: \n")
print(df_filtrado)

Produtos com qntd > 10:

  Produto  Quantidade  Preço
1  Azeite          12     97

# 09 - Operações em Colunas

Adicione uma coluna ao DataFrame com o valor total da venda (Quantidade * Preço).

In [17]:
df_vendas['Valor Total'] = df_vendas['Quantidade'] * df_vendas['Preço']

print(df_vendas)

  Produto  Quantidade  Preço  Valor Total
0   Carne           5     98          490
1  Azeite          12     97         1164
2   Leite           4     90          360
3   Arroz          10     59          590
4  Frango           5     22          110

# 10 - Agrupamento e Agregação

Agrupe o DataFrame pelo campo Produto e calcule a soma das quantidades vendidas para cada produto.

In [20]:
produtos = ['Carne', 'Azeite', 'Leite', 'Arroz', 'Frango', 'Leite']
quantidades = np.random.randint(1, 21, size=6)
precos = np.random.randint(10, 101, size=6)

df_vendas = pd.DataFrame({
    'Produto': produtos,
    'Quantidade': quantidades,
    'Preço': precos
})

df_agrupado = df_vendas.groupby('Produto')['Quantidade'].sum().reset_index()

print("Novo DataFrame: \n")
print(df_vendas)
print("\n Agrupamento: \n")
print(df_agrupado)

Novo DataFrame:

  Produto  Quantidade  Preço
0   Carne           7     66
1  Azeite          17     30
2   Leite           5     53
3   Arroz           9     37
4  Frango           4     55
5   Leite           5     90

 Agrupamento:

  Produto  Quantidade
0   Arroz           9
1  Azeite          17
2   Carne           7
3  Frango           4
4   Leite          10

# 11 - Gráfico de Linhas

Crie um gráfico de linha que mostra a variação de preços de um produto fictício ao longo de 12 meses.

In [ ]:
#seu código aqui...

# 12 - Gráfico de Barras

Crie um gráfico de barras comparando a quantidade vendida de 5 produtos fictícios.

In [ ]:
#seu código aqui...

# 13 - Histograma

Crie um histograma para mostrar a distribuição de idades em um conjunto de dados fictício de 100 pessoas.

In [ ]:
#seu código aqui...

# 14 - Gráfico de Dispersão

Crie um gráfico de dispersão que mostre a relação entre altura e peso em um conjunto de dados fictício.

In [ ]:
#seu código aqui...

# 15 - Customização de Gráficos

Adicione título, rótulos de eixo e uma legenda ao gráfico de barras criado anteriormente.

In [ ]:
#seu código aqui...

# 16 - Gráfico de Barras com Seaborn

Use Seaborn para criar um gráfico de barras com os mesmos dados fictícios de quantidade vendida por produto.

In [ ]:
#seu código aqui...

# 17 - Gráfico de Dispersão com Seaborn

Recrie o gráfico de dispersão da relação entre altura e peso usando Seaborn, incluindo uma linha de regressão.

In [ ]:
#seu código aqui...

# 18 - Boxplot

Crie um boxplot para visualizar a distribuição das idades em um conjunto de dados fictício de 50 pessoas.

In [ ]:
#seu código aqui...

# 19 - Heatmap

Crie um heatmap para mostrar a correlação entre diferentes variáveis em um DataFrame fictício.

In [ ]:
#seu código aqui...

# 20 - Pairplot

Crie um pairplot para explorar relações entre várias variáveis em um conjunto de dados fictício.

In [ ]:
#seu código aqui...